<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- 磁盘监测配置项，格式{盘符（大写字母）:最小磁盘报警阈值（GB）}。多个磁盘监测使用“,”分隔，例：{D:30},{E:40} -->
    <add key="DiskSetting" value="{D:50}"/>
    <!-- 邮箱配置 -->
    <add key="EmailSetting" value="SmtpServer:smtp.exmail.qq.com,UserName:oa@qudao.com,Password:ZSZX20140218,MailTo:songkai@qudao.com"/>
    <!-- 被监测服务器名称（邮件提醒使用） -->
    <add key="ServerName" value="192.168.3.243"/>
    <!-- 日志记录路径 -->
    <add key="LogPath" value="C:\DiskMonitor"/>
  </appSettings>
</configuration>
